<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet"  "hreaf=https://matcha.mizu.sh/matcha.css" />

    {% load static %}
   </head>
<h1> Djando </h1>
<title>   {% block title %} Django {% endblock%}  </title>
<body>
   
  <h2>static = {% static 'js/scripts.js' %} </h2>
  <nav>
  {% include 'partials/nav.html' %}  
  </nav>
  
    
    {% block content %}
    {% endblock %}

    <p>
      <img width="300" src="{% static 'image/img1.jpeg' %}" alt="">
    </p>
</body>
<script src="{% static 'js/scripts.js' %}"> <script>

</html>